<div class="flex-container3"><p class="text">forfait complet 3 </p>
    <div>
        Destination :    {{mini3.destination}}<br>
        Ville de depart:    {{mini3.villeDepart}}<br>
        Coordonnees: {{hotel3.coordonnees}}<br>
        Nom de l'hotel :   {{hotel3.nom}}<br>
        nombre Etoiles :    {{hotel3.nbEtoiles}}<br>
        Prix de base :    {{mini3.prix}}<br>
        Date de depart :    {{mini3.dateDepart}}<br>
        Duree:    {{mini3.duree}}<br>
        description voyage :    {{mini3.description}}
    </div>
</div>
