.flex-container2{
    display:block;
    background-color:silver;
    width: 75%;
    height: 15rem;
    margin-left: 16rem;
    margin-top:-16rem;
    padding-left: 2rem;
    padding-top: 1rem;
    display:flex;
}