<div class="flex-container2"><p class="text">forfait complet 2 </p>
    <div>
        Destination :    {{mini2.destination}}<br>
        Ville de depart:    {{mini2.villeDepart}}<br>
        Coordonnees: {{hotel2.coordonnees}}<br>
        Nom de l'hotel :   {{hotel2.nom}}<br>
        nombre Etoiles :    {{hotel2.nbEtoiles}}<br>
        Prix de base :    {{mini2.prix}}<br>
        Date de depart :    {{mini2.dateDepart}}<br>
        Duree:    {{mini2.duree}}<br>
        description voyage :    {{mini2.description}}
    </div>
</div>
