<div class="flex-container"><p class="text">forfait complet 1 </p><br>
    <div>
       Destination:  {{mini1.destination}}<br>
       Ville de depart:  {{mini1.villeDepart}}<br>
       Nom de l'hotel {{hotel1.nom}}<br>
       Coordonnees: {{hotel1.coordonnees}}<br>
       nombre etoiles: {{hotel1.nbEtoiles}}<br>
       Prix de base: {{mini1.prix}}<br>
       Date de depart: {{mini1.dateDepart}}<br>
       Duree: {{mini1.duree}}<br>
       Description du voyage: {{mini1.description}}
    </div>
</div>    


