.flex-container{
    background-color:lightgray;
    width: 100%;
    height: 38rem;
  }
  .text{
    text-align: left
    
    ;
    margin-top: 3;
  }
  mat-grid-tile {
    background:lightblue;
  }

  .example-card {
    width: 230px;
    background-size: cover;
    
  } 